<h2><%= t "order.detail.detail_lb" %></h2>
<div class="container order-detail">
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center"><%= t "order.detail.product" %></th>
            <th class="text-center"><%= t "order.detail.quantity" %></th>
            <th class="text-center"><%= t "order.detail.price" %></th>
            <th class="text-center"><%= t "order.detail.total" %></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr class="text-center" id="cart_item-<%= item.id %>">
              <td class="col-sm-6 col-md-4">
                <div class="media">
                  <div class="cart-image">
                    <%= image_tag item.product.image, alt: t("product.image") %></div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to item.product.name, item.product %>
                    </h4>
                  </div>
                </div>
              </td>
              <td class="col-sm-2 col-md-2">
                <div id = "edit-cart-item"%>
                <div><%= item.quantity %></div>
                </div>
              </td>
              <td class="col-sm-2 col-md-2 text-center">
                <strong><%= item.product.price %></strong>
              </td>
              <td class="col-sm-2 col-md-2 text-center item-total-price">
                <div id= "cart-item-total-price">
                <strong><%= t "product.price", price: item.total_.price %></strong>
                </div>
              </td>
            </tr>          
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 total">
      <table class="table table-hover">
        <tr>
          <td><h4><%= t "order.status.status_lb" %></h4></td>
          <td class="text-right">
            <% if @order.is_confirm %>
               <h4><strong class="order-accpect"><%= t "order.status.accepted" %></strong></h4>
            <% else %>
              <h4><strong class="order-waiting"><%= t "order.status.waiting" %></strong></h4>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><h4><%= t "order.total_product" %></h4></td>
          <td class="text-right">
            <div id = "cart-total-price"><h4><strong>
              <%= @order.total_quantity %></strong></h4>
            </div>
          </td>
        </tr>
        <tr>
          <td><h4><%= t "order.total_price" %></h4></td>
          <td class="text-right">
            <div id = "cart-total-price">
              <h4><strong><%= @order.total_price %></strong></h4>
            </div>
          </td>
        </tr>
        <tr>
          <td><h4><%= t "order.name" %></h4></td>
          <td class="text-right">
            <div><h4><strong><%= @order.receiver_name %></h4></div></strong>
          </td>
        </tr> 
        <tr>
          <td><h4><%= t "order.total_address" %></h4></td>
          <td class="text-right">
            <div><h4><strong><%= @order.receiver_address %></h4></div></strong>
          </td>
        </tr> 
        <tr>
          <td><h4><%= t "order.total_phone" %></h4></td>
          <td class="text-right">
            <div><h4><strong><%= @order.receiver_phone %></h4></div></strong>
          </td>
        </tr>
        <tr>
          <div class="text-right"><%= t "order.created_at" %>
            <%= l @order.created_at, format: :format_date %>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>
