<div class="container">
  <div class="col-sm-6">
    <div class="logo">
      <%= link_to image_tag("logo.jpg", alt: t("logo"), class: "img-responsive"), "#" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="shopping-item">
      <%= link_to image_tag("cart.png", alt: t("cart"), class: "img-responsive"), "#" %>
      <span id="price_span" class="cart-amunt"></span> 
      <span id="quantity_span" class="product-count"></span>
    </div>
  </div>
</div>
<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t("home"), "#" %></li>
          <li><%= link_to t("help"), "#" %></li>
          <li><%= link_to t("about"), "#" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("signin"), "#", class: "glyphicon glyphicon-log-in" %></li>
          <li><%= link_to t("signup"), "#", class: "glyphicon glyphicon-user" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
